<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue js to do list</title>
    <link rel="stylesheet" href="./bootstrap-3.3.7/css/bootstrap.min.css">
    <style>
        .completed {
            color: #5cb85c;
            text-decoration: line-through;
        }
        .margin-right-10 {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">TodoList By Vue2.5.1</div>
                    <div class="panel-body">
                        <h1>计划完成的任务数： {{todoCount}} </h1>
                        <todo-items :todos="todos"></todo-items>
                        <todo-form :todos="todos"></todo-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script type="text/x-template" id="todo-items-template">
    <ul class="list-group">
        <li class="list-group-item"
            :class="{'completed':todo.completed}"
            v-for="(todo,index) in todos">
            {{todo.title}}
            <button class="btn btn-warning btn-xs pull-right"
                    @click="deleteTodo(index)"
            >删除
            </button>
            <button class="btn btn-xs pull-right margin-right-10"
                    :class="[todo.completed ? 'btn-danger' : 'btn-success']"
                    @click="toggleCompletion(todo)"
            >{{todo.completed ? '已完成' : '未完成'}}
            </button>

        </li>
    </ul>

</script>
<script type="text/x-template" id="todo-add-form-template">
    <form @submit.prevent="addTodo(newTodo)">
        <div class="form-group">
            <input type="text"
                   v-model="newTodo.title"
                   class="form-control"
                   placeholder="要完成什么">
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">添加任务</button>
        </div>
    </form>
</script>
<script src="js/vue.js"></script>
<script>
    Vue.component('todo-items', {
        template: `#todo-items-template`,
        props: ['todos'],
        methods: {
            deleteTodo(index) {
                this.todos.splice(index, 1)
            },
            toggleCompletion(todo) {
                todo.completed = !todo.completed
            }
        }
    })
    Vue.component('todo-form',{
        props:['todos'],
        template:'#todo-add-form-template',
        data(){
            return {
                newTodo: {id: null, title: '', completed: false},
            }
        },
        methods: {
            addTodo(newTodo) {
                //先判断输入的内容是否全为空格
                if (newTodo.title && newTodo.title.split(" ").join("").length != 0){
                this.todos.push(newTodo);
                this.newTodo = {id: null, title: '', completed: false}
                }else {
                    alert("输入的任务不能为空，请重新输入")
                }
                },
        }
    })
    new Vue({
        el: '#app',
        data: {
            msg: 'hello',
            todos: [
                {id: 1, title: '起床学习', completed: false}
            ],

        },
        computed: {
            todoCount() {
                return this.todos.length;
            }
        },

    })
</script>
</body>
</html>